on property:sys.boot_completed=1

    # Power Efficient Workqueue
    chown system system /sys/module/workqueue/parameters/power_efficient
    chmod 0666 /sys/module/workqueue/parameters/power_efficient
